* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas1 {
  background: rgb(58, 56, 56);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
